/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Dec-2015, 9:35:30 PM
    Author     : ericymtai
*/
@import "variable.less";
@font-face {
  font-family: Edwardian_Script;
  src: url(../fonts/EdwardianScriptITC.ttf);
		}
body {
  background: @primaryColor;
}
header {
  margin: 0 auto;
}
#shop {
  width: 100%;
  float: left;
  margin: 2em 35% 1.5em;;
}
#logo {
  margin: 1.3em auto;
  float: left;
}
#companyName {
  float: left;
}
h1 {
  margin-left: .2em;
  font-family: Edwardian_Script, sans-serif;
  font-size: 2.3em;
  color:  @secondaryColor;
  line-height: .25em;
}
nav {
     width: 100%;
     margin: 0 ;
  ul {
    text-align: center;
    margin: 0 auto;
    li {
      list-style: none; 
      display: inline-block;
      a {
        background: @secondaryColor;
        color: @thirdColor;
        text-decoration: none;
        margin: 0 .6em;
        padding: .3em 1em;
        border: .1em solid #e1c674;
        &:hover {
          background: @thirdColor;
          color: @secondaryColor;
          border: .1em solid @secondaryColor;
        };  // end nav ul li :hover  
      };  // end nav ul li a
    };   // end nav ul li
  };   // end nav ul
}   // end nav

.active {
  background: @thirdColor;
  color: @secondaryColor;
  border: .1em solid @secondaryColor;
  cursor: default;
}
.active2 {
  color: @thirdColor;
  cursor: default;
}

form {
  margin: 0;
}
#registerForm {
  margin: 2em auto;
  width: 45%;
  background: @thirdColor;
  overflow: hidden;
  color: @secondaryColor;
}
.formElements {
  margin-top: 1.5em;
}
h3 {
  text-align: center;
}
label {
  font-size: .8em;
  margin: .5em .5em .5em 4em;
}
input {
  margin: .5em 2em .5em 4.5em;
  display: block;
  width: 65%;
  &::-webkit-input-placeholder {
    font-size: .8em;
    color: @primaryColor;
    padding: .2em 0 0 1em;
  };
  &[type=submit] {
    background: @secondaryColor;
    color: #fff;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    &:hover {
      background: #fff;
      color: @secondaryColor;
    };  // end input[type=submit]:hover
  };  // end input[type=submit]
} // end input
input[type=reset]:extend(input[type=submit]) {
  background: @primaryColor;
  &:hover {
    background: #fff;
    color: @secondaryColor;
  };
  
}

footer:extend(nav ul) {
  li {
    list-style:none;
    display: inline-block;
    a {
      font-size: .9em;
      font-style: italic;
      margin-bottom: 1em;
      color:  @secondaryColor;
      text-decoration: none;
      &:hover {
        color: @thirdColor;
      };  // end footer ul li a:hover
      &::after {
          content: " |";
          margin:  0 1em 0 1.5em;
          font-style: normal;
          color: @thirdColor;
          display: inline-block;
      };  // end footer ul li::after
    };  // end footer ul li a
    &:last-child a::after  {
       content: "";  
    };  // end footer ul li:last-child::after 
  };  // end footer ul li
} // end footer extend